<% broadcast '/messages/destroy' do %>
  var deleted_message = $("#<%= dom_id(@message)%>");

  if (deleted_message) {
    play_delete();
    deleted_message.html("<div class=\"deleted\">This message was deleted by the scoundrel <strong><%= @destroyer %></strong></div>")
  }

<% end %>