/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*** colors ***/
$red:     #C31010;
$yellow:  #EDD50B;
$grey:    #484f48;


/*** custom fonts ***/
@font-face {
	font-family: 'os-regular';
	src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('OpenSans-Regular-webfont.woff') format('woff'), 
	     url('OpenSans-Regular-webfont.ttf')  format('truetype'),
	     url('OpenSans-Regular-webfont.svg#svgFontName') format('svg');
	}
	
@font-face {
  font-family: 'os-semibold';
  src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), 
  	   url('OpenSans-Semibold-webfont.woff') format('woff'), 
  	   url('OpenSans-Semibold-webfont.ttf')  format('truetype'),
  	   url('OpenSans-Semibold-webfont.svg#svgFontName') format('svg');
  }
  
@font-face {
  font-family: 'os-bold';
  src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), 
    	 url('OpenSans-Bold-webfont.woff') format('woff'), 
    	 url('OpenSans-Semibold-webfont.ttf')  format('truetype'),
    	 url('OpenSans-Semibold-webfont.svg#svgFontName') format('svg');
  }
  
  
body { 
  background: url(bg.png) repeat-y #f6f6f6; 
  font: normal normal 1em/1.7em "os-regular", serif;
  color: $grey;
  border: 0;
  padding: 0;
  margin: 0;
}

a, input[type=submit] {
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.application {
  width: 1024px;
  margin: 0 auto;
}

header {
  margin-top: 1em;
}

h1 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background: $red;
  color: lighten($yellow, 5%);
  margin-bottom: 1em;
  padding: .4em 1em .6em 1em;
  font-family: "os-bold";
  text-shadow: 0 -1px 0 darken($red, 30%);
  border-left: 10px solid $yellow;
  border-bottom: 10px solid $yellow;
  b {
    position: absolute;
    display: inline-block;
    left: 60px;
    bottom: -29px;
    background: url(carrot_red.png) no-repeat;
    width: 50px;
    height: 29px;
  }
}

.tagline {
  display: inline-block;
  vertical-align: top;
  margin-top: 1em;
  margin-left: 1.5em;
  font-size: 1em;
  font-family: "os-semibold";
  width: 57%;
  line-height: 1.8em;
  
}

.pickit {
  margin-top: 5em;
  background: $yellow;
  color: $grey;
  padding: .7em 1em;
  border-left: 10px solid $grey;
  border-bottom: 10px solid $grey;
  label {
    display: inline-block;
    margin: .5em 0;
    text-shadow: 0 1px 0 lighten($yellow, 40%);
  }
  input[type='text'] {
    width: 98.8%;
    font-size: 1.4em;
    padding: .5em .3em;
    margin-top: .3em;
    border: none;
    &:focus {
      background: $grey;
      color: lighten($grey, 60%);
      outline: none;
    }
  }
  input[type='submit'] {
    background: lighten($yellow, 20%);
    color: $grey;
    font-family: "os-bold";
    border: 1px dotted #FFF;
    font-size: 14px;
    padding: .7em 1em;
    margin: 1em 0 1em 0;
    width: 100%;
    &:hover {
      -moz-box-shadow: 0 0 10px #FFF;
      -webkit-box-shadow: 0 0 10px#FFF;
      box-shadow: 0 0 10px #FFF;
    } 
  }
}

footer {
  margin-top: 6em;
  text-align: center;
  a {
    text-decoration: none;
    color: $red;
  }
}

#messages {
  margin-bottom: 15em;
}

.message {
  display: block;
  width: 730px;
  margin: 2em 0;
}

.single {
  position: relative;
  background: $grey;
  color: #FFF;
  padding: .5em 1em;
  border-left: 10px solid rgb(205, 205, 205);
  border-bottom: 10px solid rgb(205, 205, 205);
  p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: .8em .5em 1.2em .5em;
  }
  a {
    color: lighten($grey, 40%);
  }
  a.delete {
    display: block;
    text-align: right;
    margin-bottom: -.5em;
    font-size: .8em;
    padding-right: 1.4em;
    background: url(close.png) right 9px no-repeat;
  }
  b {
    position: absolute;
    display: inline-block;
    left: 60px;
    bottom: -30px;
    background: url(carrot_darkgrey.png) no-repeat;
    width: 56px;
    height: 30px;
  }
}

.handle {
    span { display: inline-block;
      padding: .2em .6em;
      background: $yellow;
      margin: .8em 0 0 7.5em;
    }
}

.create {
  position: fixed;
  bottom: 0;
  z-index: 10;
  background: $yellow;
  width: 100%;
  padding-bottom: 1.3em;
  border-top: 10px solid lighten($grey, 20%);
  .rest-in-place {
    margin-left: 120px;
    span {
      font-size: .6em;
    }
  }
  .rest-in-place input {
    background: lighten($yellow, 20%);
    outline: none;
    border: none;
    font-family: "os-regular";
    font-size: .95em;
  }
  form.chat {
    position: relative;
    width: 730px;
    textarea {
      margin-top: 2em;  
      width: 96.3%;
      border: 0;
      font-size: 14px;
      height: 4em;
      padding: 1em;
      font-family: "os-regular";
      &:focus {
        outline: none;
      }
    }
    b {
      position: absolute;
      display: inline-block;
      left: 60px;
      bottom: -20px;
      background: url(carrot_white.png) no-repeat;
      width: 56px;
      height: 30px;
    }
    input {
      float: right;
      background: $grey;
      color: #FFF;
      border: none;
      font-family: "os-regular";
      font-size: 14px;
      padding: .4em 1em;
      margin: .5em 0 0 0;
      &:hover {
        cursor: pointer;
        background: darken($grey, 20%);
      }
    }
  }
}

.deleted {
  background: $red;
  color: #FFF;
  padding: .3em .8em;
  font-size: .8em;
  strong {
    font-family:  "os-semibold";
  }
}
