<!DOCTYPE html>
<html>
<head>
  <title>Onebigchatroom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "http://#{faye_host}:9292/faye.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
